@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

@keyframes glow {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.25);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
}

.animate-glow {
  animation: glow 6s ease-in-out infinite;
}

@keyframes floatSlow {
  0% { transform: translateY(-50%) translateY(0px); }
  50% { transform: translateY(-50%) translateY(-12px); }
  100% { transform: translateY(-50%) translateY(0px); }
}

.animate-float-slow {
  animation: floatSlow 6s ease-in-out infinite;
}


